/* CSS Document */
/* START HOME PAGE*/
/*start homepage middle right center */
#middle_right_bar #middle_center_bar{
	width:465px;
	height:auto;
	margin-left:0px;
	float:left;
}
/*start homepage middle right right bar*/
/*#middle_end_bar{
	width:200px;
	height:auto;
	float:left;
	padding-left:10px;
}*/
#middle_end_bar #middle_end_bar_middle #middle_end_banner1{
	width:200px;
	height:275px;
	float:left;
	margin:0px 0px 10px 0px;
	background-image:url(../images/whos-it-for.jpg);
	background-repeat:no-repeat;
}
/*start browse catagories*/
#catagories-outer{
	width:190px;
	height:auto;
	float:left;
	margin-left:10px;
	padding-bottom:15px;
}
#catagory_type_middle2 .categoryDrop{
	width:215px;
}
#catagory_type_middle2 .categoryDrop 
{
width:260px;
}



#middle_end_banner2 {
	padding-top:2px;
	}
	
#main_form_bg {
	padding-left:0px;
	}

#average-price-bg {
	padding-top:2px;
	}
.list_blackbg_summery {
	vertical-align:baseline;
	}
.catagories_item_yellow {
	padding-bottom:9px;
	}
.catagories_item_white {
	padding-top:5px;
	}

.cadds_search_descriptionrow {
	padding:5px 0 5px 10px;
	}
.select_wishlist_button {
	float:left;
	}
.middle_center_bar_cells_foot {
	margin-bottom:7px;
	width:180px;
	}	

.page_braek {
	margin:15px;
	font-size:0;
	}
	
#right_bar_middle {
	padding-left:15px;
	}
/*#form_bg, #loging_banner, #signup_butten {
	margin-left:10px;
	}*/	
#form_outer, #form_cell_outer {
	margin-left:5px;
	margin-top:6px;
	}

.text_fieldBlock_left {
	margin-left:5px;
	padding:10px 5px 0px 5px;
	}
.submit_butten {
	margin-left:7px;
	}
.option_form_sub_selections {
	margin-left:25px;
	}
.select_wishlist_button_left img {
vertical-align:top;
	}
#clear_selections {
	margin-top:5px;}
	
#add_selections {
	margin-top:5px;
	}
#enlarge_image { 
	margin-top:2px;
	margin-bottom:5px;}

.hourly_rate_main, .distance_main {
	margin-left:2px;
	padding-right:2px;
	}
.nav-menu ul {
	font-size:0px;
	}
tr.cadd_descriptionrow_gray {
	background:#f6f6f6;
}
div.msgBox {
	text-align:left;
	}	
#footer {
	margin-right:-3px;
	margin-top:5px;
	}
#tag_bg_middle{
/*height:325px;*/
}
#view_errors{
    display: inline;
    font-size: 10px;
    margin-right: 0px;
}
/* END HOME PAGE*/
