/* 


*/
#payment_schedule {
	width:800px;
}

.label_txt, #automatic_payment .label_txt,  #manual_payment .label_txt {

	font-size:11px;
	font-weight:bold;
	color:#000000;
}

.payment_box_text {
	font-size:11px;
	font-weight:bold;
	color:#666666;
}

#payment_schedule td.heading {
	height:35px;
	background:url(images/yellow-top.jpg) repeat-x;
	font-size:14px;
	font-weight:bold;
	padding:10px;
}

#payment_method_cont {
	width:580px;
	margin:21px 0px 0px 31px;
}

.payment_image {
	padding:0px 10px 0px 5px;
}

#preLoaderContainer{

	display:inline;
	height:50px;

	margin:30px 0px 20px 200px;
}

#msgBoxContainer {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #FFCC66;
float:left;
font-family:"Arial,Helvetica,sans-serif";
font-size:11px !important;
margin:0;
overflow:visible;
padding:15px;
width:540px;
}

hr{
    border:1px solid #FFCC66;
}

 input[name="pay_now"] {
	background:url(../images/btn_pay.png) no-repeat;
	border:none;
	width:81px;
	height:25px;
	cursor:pointer;
}